<!DOCTYPE html>
<html>
  <head>
    <title>Audu Emmanuel Data Visualization Project (18CJ024106)</title>


    <link rel="stylesheet" href="style.css">

  </head>
  <body>
      <h1 style="text-align:center;font-family:helvetica;">Total Milk Consumption in Africa from 2009-2018</h1>

    <div class="cell">
        
        <P style="text-align:center;font-family:oxygen;" class="main-text">
      <b> The milk consumption total representation in Africa. </b>
        </P>
        <p style="text-align:center;"class="main-text">
           
        THE BAR PLOTS DISPLAYS THE COMBINED STATISTICS OF THE TOTAL MILK CONSUMPTION FROM 2009 TO 2018
         </p>
<br/><br/>
        <img src="../static/1.png" width="80%">
<br/><br/>
        <img src="../static/2.png" width="80%">
<br/><br/>
        <img src="../static/3.png" width="80%">
<br/><br/>
     </div>


     
 <div  class="cell">
        <p class="main-text">
            The line graphs show below the different measures of dispersion(as indicated by the legend),
            for the observation values in the bar plots above the first plot being the Mean,followed by the Standard 
            Deviation, Semi-interquartile range, Interquartile range, Range
         </p>
<br/><br/>
       <img src="../static/g1.png" width="50%">
<br/><br/>
       <img src="../static/g2.png" width="50%">
<br/><br/>
       <img src="../static/g3.png" width="50%">
<br/><br/>
       <img src="../static/g4.png" width="50%">
<br/><br/>
       <img src="../static/g5.png" width="50%">
<br/><br/>
      </div>
      
  </body>
</html>
